[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
flake8 = "*"
mypy = "*"
jedi = "*"
rope = "*"
black = "*"
python-language-server = "*"
isort = "*"

[packages]
pillow = "*"
piexif = "*"
pyimgtool = {editable = true,path = "."}
sty = "*"
plotille = "*"
opencv-python = "*"
better-exceptions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
